/* src/components/Table.css */
.AdminPurchasesList {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #192734, #08111A);
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.AdminPurchasesList .table-card {
    border: 1px solid #294050;
    width: 80%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    background-color: #16222d;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.AdminPurchasesList table {
    width: 100%;
    border-collapse: collapse;
}

.AdminPurchasesList th,
.AdminPurchasesList td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #294050;
}

.AdminPurchasesList th {
    background-color: #1f2c39;
}

.AdminPurchasesList tr {
    transition: background-color 0.3s ease-in-out;
}

.AdminPurchasesList tr:hover {
    background-color: #233142;
}

.AdminPurchasesList a {
    display: block;
    width: 30%;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    color: #00b3b3;
    border: 1px solid #294050;
    border-radius: 5px;
    background-color: #1f2c39;
    transition: background-color 0.3s ease-in-out;
}

.AdminPurchasesList a:hover {
    background-color: #233142;
}

.AdminPurchasesList .delete {
    color: red;
}