/* src/components/LoginPage.css */
.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #192734, #08111A);
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }
  
.Login .login-card {
    border: 1px solid #294050;
    width: 300px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    background-color: #16222d;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    animation: slideIn 1s ease-in-out;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.Login  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #00b3b3;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
.Login  label {
    display: block;
    margin-bottom: 8px;
    color: #00b3b3;
  }
  
.Login input {
    width: 100%;
    padding: 10px;
    border: 1px solid #294050;
    border-radius: 5px;
    background-color: #1f2c39;
    color: #fff;
  }
  
.Login  .login-button {
    width: 100%;
    padding: 12px;
    background-color: #00b3b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
.Login  .login-button:hover {
    background-color: #008080;
  }
  